html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

form {
  margin: 40px 0 !important; }

.ma__input-group:not(:first-child) {
  margin-bottom: 30px; }

.input_apply-all {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 30px; }
  .input_apply-all label {
    font-weight: 300; }

.ma__help-text {
  padding: 15px; }

.ma__output-calculation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 10px; }
  .ma__output-calculation p {
    background-color: #F2F2F2;
    border: 2px solid #DCDCDC;
    padding: 5px 10px; }

.ma__input-group--inline .ma__input-group-right {
  align-items: unset; }

.ma__disclaimer {
  margin-top: 10px;
  font-size: 1.1rem; }
