.ma__input-group--inline {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ma__label--small {
  font-size: 1em; }

fieldset > * {
  margin-top: 20px; }

.ma__collapse {
  margin: 20px 0px; }
  .ma__collapse p {
    margin-bottom: 0rem; }
  .ma__collapse.collapsed {
    visibility: hidden;
    height: 0px; }
  .ma__collapse.collapsing, .ma__collapse.expanding {
    position: relative;
    overflow: hidden;
    visibility: visible;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease; }
  .ma__collapse.expanded {
    height: auto;
    visibility: visible;
    display: block; }

.ma__table .ma__td--group {
  padding-left: 0px !important; }
