html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.ma__output-emphasized {
  color: #14558f;
  font-weight: 700; }

.ma__output-calculation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 10px; }
  .ma__output-calculation p {
    background-color: white;
    border: 2px solid #DCDCDC;
    padding: 5px 10px; }
