@import "./node_modules/@massds/mayflower-react/es/components/styles/global";

.ma__help-tip__trigger {
	&:hover,
	&:focus,
	&:active {
  .ma__output-emphasized {
      color: $c-white;
    }
  }
}

.ma__help-tip__trigger.active {
  .ma__output-emphasized {
    color: $c-white;
  }
}
.ma__output-calculation {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 20px 0px 10px;
  	p {
  	  background-color: $c-gray-lightest;
	  border: 2px solid $c-gray-light;
	  padding: 5px 10px;
  	}
}

.ma__help-text {
	padding: 15px;
}

.ma__callout-alert {
	margin-bottom: 40px;
}

.ma__help-text--p {
  margin-bottom: 0rem;
}

.ma__collapse {
  margin: 20px 0px;

  p {
    margin-bottom: 0rem;
  }

   &.collapsed {
        visibility: hidden;
        height: 0px;
        .ma__help-tip__container.expanded {
          visibility: hidden !important;
          height: 0px !important;
        }
      }

      &.collapsing, &.expanding {
        position: relative;
        overflow: hidden;
        visibility: visible;
        -webkit-transition-property: height, visibility;
        transition-property: height, visibility;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
      }

      &.expanded {
        height: auto;
        visibility: visible;
        display: block;
      }
}