@import "./node_modules/@massds/mayflower-react/es/components/styles/global";

.ma__output-emphasized {
	color: $c-primary;
	font-weight: 700;
}

.ma__help-tip__trigger {
  .ma__output-emphasized {
    &:hover,
    &:focus,
    &:active {
      color: $c-white;
    }
  }
}

.ma__help-tip__trigger.active {
  .ma__output-emphasized {
    color: $c-white;
  }
}
.ma__output-calculation {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 20px 0px 10px;
  	p {
  	  background-color: $c-gray-lightest;
	  border: 2px solid $c-gray-light;
	  padding: 5px 10px;
  	}
}

.ma__help-text {
	padding: 15px;
}
