@import "01-atoms/global/elements";
@import "04-templates/general";
@import "08-print/print";

html {
  @media ($bp-small-max) {
    font-size: 14.5px;
  }

  // .translated-rtl & {
  //   direction: rtl;
  // }
}

body {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1.5;
  color: $c-font-base;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;

  // .translated-rtl & {
  //   direction: rtl;
  // }
}

a {
  color: $c-bay-blue;
  font-weight: 600;
  text-decoration: none;
}

.ma__page-header__optional-content a {
  text-decoration: underline;
}


legend,
label {
  display: block;
  margin-bottom: 0.25em;
  padding: 0;
  font-weight: 500;
}

.ma__container {
  @include ma-container();
  margin-top: 0px;
}

// Print
@media print {
  .ma__filter-box {
    display: none;
  }
}
