@import "./node_modules/@massds/mayflower-react/es/components/styles/global";

$margin: 5px;
$total-margin: $margin * 2;

.ma__input-group__items--inline.ma__input-group__items--outline .ma__input-group__item.item-5 {
	width: calc(100% - #{$total-margin});
	   
	   @media ($bp-small-min) {
	     width: calc(50% - #{$total-margin});
	   }
	   
	   @media ($bp-medium-min) {
	     width: calc(50% - #{$total-margin});
	   }
		
}

.ma__collapse {
	margin: 20px 0px;

	p {
	  margin-bottom: 0rem;
	}

	 &.collapsed {
        visibility: hidden;
        height: 0px;
      }

      &.collapsing, &.expanding {
        position: relative;
        overflow: hidden;
        visibility: visible;
        -webkit-transition-property: height, visibility;
        transition-property: height, visibility;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
      }

      &.expanded {
        height: auto;
        visibility: visible;
        display: block;
      }
}